
a {
  text-decoration: none !important;
  color: black !important;
}
.dropdown:hover {
  text-decoration: underline;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: white !important;
}

a:hover{
  text-decoration: underline !important;
}

.h5{
  margin-bottom: 0 !important;
}

p{
  font-style: italic !important;
}

.container{
  max-width: 100vw !important;
}